body {
    background-color: rgb(214, 213, 211);
    font-family: Arial, Helvetica, sans-serif;
}

.homebox {
    background-image: url(recipes/images/tacos.jpg);
    padding: 10px;
    padding-left: 250px;;
    padding-right: 250px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    border-radius: 8px;
}

.recipebox {
    background-image: url(recipes/images/tacos.jpg);
    padding-left: 250px;;
    padding-right: 250px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    border-radius: 8px;
    
}

li {
    text-align: left;
}

.heading, h1 {
    background-color: rgb(128, 189, 230);
    font-size: 18px;
    border-radius: 10px;
}

h2, h3, h4 {
    background-color: rgb(128, 189, 230);
    font-size: 18px;
    border-radius: 10px; 
}

p, ul, ol  {
    background-color: rgb(214, 213, 211);
    font-size: 14px;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 3px;
    padding-bottom: 8px;
}

.recipelist {
    background-color: rgb(128, 189, 230);
    border-radius: 8px;
}

button {
    background-color: rgb(211, 255, 254);
    border-radius: 10px;
    width: 175px;
    height: auto;
    padding: 8px;
}
.francese {
    padding: 8px;
}

.tacos {
    padding: 8px;
}   

.grilledcheese {
    padding: 8px;
}

